
mat-toolbar {
  justify-content: center
}

mat-grid-tile {
    background: lightblue;
    column-span: 1;

  }

.one {
  background: lightsalmon;
}

.two {
  background: lightgoldenrodyellow;
}

.three {
  background: lightgreen;
}

.default {
  background: lightblue;
}

#createCard {
  background: lightgray;
  column-span: 1;
}

#createCard:hover {
  background: lightblue;
}

#pageTitle {
    margin:0 auto;
    flex: auto;
}

#username {
  font-size: small;
  margin-right: 0px;
  margin-left: 0px;
}

mat-grid-list {
    width: 100%
  }

mat-grid-tile-header {
    height: 20% !important;
    font-size: 30px;
    font-weight: bold;
  }
  
mat-grid-tile-footer {
height: 20% !important;
}